body, html {
    margin: 0;
    padding: 0;
  }
  
header {
    background-color: #6A92BA;
  }

header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30pt;
    text-align: center;
    padding-top: 30px;
  }
  
header nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  
header nav li {
    display: inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: large;
    padding: 10px 20px;
  }

main {
    width: 100%;
    margin: auto;
  }

article {
  margin-top: 50px;
  margin-bottom: 80px;
}

article h2 {
    background-color: #D1E1F0;
    padding: 15px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
  }

article img {
    float: left;
    display: inline-block;
    border: #3F566E;
    border-style: solid;
    border-width: 2pt;
    padding: 5px 5px;
    margin-left: 20px;
}

article p {
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
  vertical-align: top; 
  width: 350px;
  margin-left: 20px;
  padding: 5px;
}

footer {
  background-color: #6A92BA;
  margin-top: 30px;
  padding: 10px;
  }

li {
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(39, 22, 192);
  font-size: larger;
  }

li img {
    width: 20px;
  }